<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-bar">
                <div class="logo">
                    My Todo List
                </div>
                <div class="buttons">
                    <div class="login-button">
                        <span>Login</span>
                    </div>
                    <div class="signup-button">
                        <span>Sign Up</span>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="main-login">
        <div class="form-login">
            <h2>Login</h2>
            <form action="post">
                <input type="text" class="form-username" placeholder="Username" name="username">
                <input type="password" class="form-password" placeholder="Password" name="password">
                <input type="submit" class="btn" value="Login">
            </form>
            <a href="#">Forgot Password?</a>
        </div>
    </main>
</body>
</html>